.md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md p, .md blockquote, .md pre, .md a, .md abbr, .md acronym, .md address, .md cite, .md code, .md del, .md dfn, .md em, .md img, .md q, .md s, .md samp, .md small, .md strike, .md strong, .md sub, .md sup, .md tt, .md var, .md dd, .md dl, .md dt, .md li, .md ol, .md ul, .md fieldset, .md form, .md label, .md legend, .md button, .md table, .md caption, .md tbody, .md tfoot, .md thead, .md tr, .md th, .md td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit; }
.md table {
  border-collapse: collapse;
  border-spacing: 0; }
.md ol, .md ul {
  list-style: none; }
.md q:before, .md q:after {
  content: ""; }
.md blockquote:before, .md blockquote:after {
  content: ""; }
.md html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }
.md a:focus {
  outline: thin dotted; }
.md a:hover, .md a:active {
  outline: 0; }
.md article, .md aside, .md details, .md figcaption, .md figure, .md footer, .md header, .md hgroup, .md nav, .md section {
  display: block; }
.md audio, .md canvas, .md video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }
.md audio:not([controls]) {
  display: none; }
.md sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }
.md sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }
.md sub {
  bottom: -0.25em; }
.md img {
  border: 0;
  -ms-interpolation-mode: bicubic; }
.md button, .md input, .md select, .md textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }
.md button, .md input {
  line-height: normal;
  *overflow: visible; }
.md button::-moz-focus-inner, .md input::-moz-focus-inner {
  border: 0;
  padding: 0; }
.md button {
  cursor: pointer;
  -webkit-appearance: button; }
.md input[type="button"], .md input[type="reset"], .md input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }
.md input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  .md input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
.md textarea {
  overflow: auto;
  vertical-align: top; }
.md body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: black; }
.md .container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1; }
  .md .container:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .md .container:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
.md .container-fluid {
  position: relative;
  min-width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  zoom: 1; }
  .md .container-fluid:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .md .container-fluid:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
  .md .container-fluid > .sidebar {
    float: left;
    width: 220px; }
  .md .container-fluid > .content {
    margin-left: 240px; }
.md a {
  color: #0069d6;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit; }
  .md a:hover {
    color: #00438a;
    text-decoration: underline; }
.md .pull-right {
  float: right; }
.md .pull-left {
  float: left; }
.md .hide {
  display: none; }
.md .show {
  display: block; }
.md .row {
  zoom: 1;
  margin-left: -20px; }
  .md .row:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .md .row:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
.md p {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 9px; }
  .md p small {
    font-size: 11px; }
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
  font-weight: bold;
  color: #404040; }
.md h1 small, .md h2 small, .md h3 small, .md h4 small, .md h5 small, .md h6 small {
  color: #bfbfbf; }
.md h1 {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 36px; }
  .md h1 small {
    font-size: 18px; }
.md h2 {
  font-size: 24px;
  line-height: 36px; }
  .md h2 small {
    font-size: 14px; }
.md h3, .md h4, .md h5, .md h6 {
  line-height: 36px; }
.md h3 {
  font-size: 18px; }
  .md h3 small {
    font-size: 14px; }
.md h4 {
  font-size: 16px; }
  .md h4 small {
    font-size: 12px; }
.md h5 {
  font-size: 14px; }
.md h6 {
  font-size: 13px;
  color: #bfbfbf;
  text-transform: uppercase; }
.md ul, .md ol {
  margin: 0 0 18px 25px; }
.md ul ul, .md ul ol {
  margin-bottom: 0; }
.md ol ol, .md ol ul {
  margin-bottom: 0; }
.md ul {
  list-style: disc; }
.md ol {
  list-style: decimal; }
.md li {
  line-height: 18px;
  color: black; }
.md ul.unstyled {
  list-style: none;
  margin-left: 0; }
.md dl {
  margin-bottom: 18px; }
  .md dl dt, .md dl dd {
    line-height: 18px; }
  .md dl dt {
    font-weight: bold; }
  .md dl dd {
    margin-left: 9px; }
.md hr {
  margin: 20px 0 19px;
  border: 0;
  border-bottom: 1px solid #eee; }
.md strong {
  font-style: inherit;
  font-weight: bold; }
.md em {
  font-style: italic;
  font-weight: inherit;
  line-height: inherit; }
.md .muted {
  color: #bfbfbf; }
.md blockquote {
  margin-bottom: 18px;
  border-left: 5px solid #eee;
  padding-left: 15px; }
  .md blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0; }
  .md blockquote small {
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #bfbfbf; }
    .md blockquote small:before {
      content: '\2014 \00A0'; }
.md address {
  display: block;
  line-height: 18px;
  margin-bottom: 18px; }
.md code, .md pre {
  padding: 0 3px 2px;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
.md code {
  padding: 1px 3px; }
.md pre {
  background-color: #f5f5f5;
  display: block;
  padding: 8.5px;
  margin: 0 0 18px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }
.md form {
  margin-bottom: 18px; }
.md fieldset {
  margin-bottom: 18px;
  padding-top: 18px; }
  .md fieldset legend {
    display: block;
    padding-left: 150px;
    font-size: 19.5px;
    line-height: 1;
    color: #404040;
    *padding: 0 0 5px 145px;
    *line-height: 1.5; }
.md form .clearfix {
  margin-bottom: 18px;
  zoom: 1; }
  .md form .clearfix:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .md form .clearfix:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
.md label, .md input, .md select, .md textarea {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal; }
.md label {
  padding-top: 6px;
  font-size: 13px;
  line-height: 18px;
  float: left;
  width: 130px;
  text-align: right;
  color: #404040; }
.md form .input {
  margin-left: 150px; }
.md input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .md input[type=checkbox], .md input[type=radio] {
    cursor: pointer; }
.md textarea, .md select, .md .uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
.md input[type=checkbox], .md input[type=radio] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  border: none; }
.md input[type=file] {
  background-color: #ffffff;
  padding: initial;
  border: initial;
  line-height: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
.md input[type=button], .md input[type=reset], .md input[type=submit] {
  width: auto;
  height: auto; }
.md select, .md input[type=file] {
  height: 27px;
  line-height: 27px;
  *margin-top: 4px; }
.md select[multiple] {
  height: inherit; }
.md textarea {
  height: auto; }
.md .uneditable-input {
  background-color: #ffffff;
  display: block;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed; }
.md :-moz-placeholder, .md ::-webkit-input-placeholder {
  color: #bfbfbf; }
.md input, .md textarea {
  -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s,box-shadow linear 0.2s;
  -o-transition: border linear 0.2s,box-shadow linear 0.2s;
  transition: border linear 0.2s,box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }
.md input:focus, .md textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); }
.md input[type=file]:focus, .md input[type=checkbox]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666; }
.md select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666; }
.md form div.clearfix.error {
  background: #fae5e3;
  padding: 10px 0;
  margin: -10px 0 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .md form div.clearfix.error > label {
    color: #9d261d; }
  .md form div.clearfix.error span.help-inline, .md form div.clearfix.error span.help-block {
    color: #9d261d; }
  .md form div.clearfix.error input, .md form div.clearfix.error textarea {
    border-color: #c87872;
    -webkit-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
    -moz-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
    box-shadow: 0 0 3px rgba(171, 41, 32, 0.25); }
  .md form div.clearfix.error input:focus, .md form div.clearfix.error textarea:focus {
    border-color: #b9554d;
    -webkit-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
    -moz-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
    box-shadow: 0 0 6px rgba(171, 41, 32, 0.5); }
  .md form div.clearfix.error .input-prepend span.add-on, .md form div.clearfix.error .input-append span.add-on {
    background: #f4c8c5;
    border-color: #c87872;
    color: #b9554d; }
.md table {
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  border-collapse: separate;
  *border-collapse: collapse;
  font-size: 13px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .md table th, .md table td {
    padding: 10px 10px 9px;
    line-height: 18px;
    text-align: left; }
  .md table th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle;
    border-bottom: 1px solid #ddd; }
  .md table td {
    vertical-align: top; }
  .md table th th, .md table td td {
    border-left: 1px solid #ddd; }
  .md table tr td {
    border-top: 1px solid #ddd; }
  .md table tbody tr:first-child td:first-child {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0; }
  .md table tbody tr:first-child td:last-child {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0; }
  .md table tbody tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px; }
  .md table tbody tr:last-child td:last-child {
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0; }
.md .zebra-striped tbody tr:nth-child(odd) td {
  background-color: #f9f9f9; }
.md .zebra-striped tbody tr:hover td {
  background-color: #f5f5f5; }
.md .zebra-striped .header {
  cursor: pointer; }
  .md .zebra-striped .header:after {
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #000 transparent;
    visibility: hidden; }
  .md .zebra-striped .header:hover:after {
    visibility: visible; }
.md footer {
  margin-top: 17px;
  padding-top: 17px;
  border-top: 1px solid #eee; }
.md .page-header {
  margin-bottom: 17px;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
  .md .page-header h1 {
    margin-bottom: 8px; }
.md .close {
  float: right;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 13.5px;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=20);
  -khtml-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2; }
  .md .close:hover {
    color: #000000;
    text-decoration: none;
    filter: alpha(opacity=40);
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4; }
.md pre {
  padding: 0;
  margin: 10px 0px 10px;
  overflow: auto;
  /*--If the Code exceeds the width, a scrolling is available--*/
  overflow-Y: hidden;
  /*--Hides vertical scroll created by IE--*/ }
  .md pre code {
    margin: 5px;
    /*--Left Margin--*/
    padding: 0px;
    display: block;
    line-height: 18px; }
.md .center {
  text-align: center; }
.md .left {
  text-align: left; }
.md .right {
  text-align: right; }
.md body {
  font-family: "Geneva", Arial, sans-serif;
  font-size: 13px;
  margin: 10px; }
.md a {
  color: #09c; }
  .md a:visited {
    color: #09c; }
  .md a:hover {
    color: #336699;
    text-decoration: none; }
.md h1 {
  margin: 0px 0px 10px;
  font-weight: bold; }
.md h2 {
  margin: 5px 0px 15px; }
.md h6 {
  color: #09c; }
.md blockquote {
  font-family: "Georgia", Courier New, courier, sans-serif;
  background: #efefef;
  padding: 5px 10px;
  border: solid 1px #ddd;
  margin: 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #333; }
.md ul, .md ol {
  margin-bottom: 15px; }
.md li {
  padding: 3px; }
.md code {
  background-color: #f1f1f1;
  color: #336699; }
.md pre {
  background-color: #f1f1f1; }
  .md pre > code {
    margin: 0px;
    padding: 5px;
    border: 0px;
    background-color: #f1f1f1; }
.md .md h1, .md .md h2, .md .md h3, .md .md h4, .md .md h5, .md .md h6, .md .md p, .md .md blockquote, .md .md pre, .md .md a, .md .md abbr, .md .md acronym, .md .md address, .md .md cite, .md .md code, .md .md del, .md .md dfn, .md .md em, .md .md img, .md .md q, .md .md s, .md .md samp, .md .md small, .md .md strike, .md .md strong, .md .md sub, .md .md sup, .md .md tt, .md .md var, .md .md dd, .md .md dl, .md .md dt, .md .md li, .md .md ol, .md .md ul, .md .md fieldset, .md .md form, .md .md label, .md .md legend, .md .md button, .md .md table, .md .md caption, .md .md tbody, .md .md tfoot, .md .md thead, .md .md tr, .md .md th, .md .md td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit; }
.md .md table {
  border-collapse: collapse;
  border-spacing: 0; }
.md .md ol, .md .md ul {
  list-style: none; }
.md .md q:before, .md .md q:after {
  content: ""; }
.md .md blockquote:before, .md .md blockquote:after {
  content: ""; }
.md html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }
.md .md a:focus {
  outline: thin dotted; }
.md .md a:hover {
  outline: 0; }
.md a:active {
  outline: 0; }
.md .md article, .md .md aside, .md .md details, .md .md figcaption, .md .md figure, .md .md footer, .md .md header, .md .md hgroup, .md .md nav, .md .md section {
  display: block; }
.md .md audio, .md .md canvas, .md .md video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }
.md .md audio:not([controls]) {
  display: none; }
.md .md sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }
.md .md sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }
.md .md sub {
  bottom: -0.25em; }
.md .md img {
  border: 0;
  -ms-interpolation-mode: bicubic; }
.md .md button, .md .md input, .md .md select, .md .md textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }
.md .md button, .md .md input {
  line-height: normal;
  *overflow: visible; }
.md .md button::-moz-focus-inner, .md .md input::-moz-focus-inner {
  border: 0;
  padding: 0; }
.md .md button {
  cursor: pointer;
  -webkit-appearance: button; }
.md .md input[type="button"], .md .md input[type="reset"], .md .md input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }
.md .md input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  .md .md input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
.md .md textarea {
  overflow: auto;
  vertical-align: top; }
.md .md a {
  color: #0069d6;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit; }
  .md .md a:hover {
    color: #00438a;
    text-decoration: underline; }
.md .md .pull-right {
  float: right; }
.md .md .pull-left {
  float: left; }
.md .md .hide {
  display: none; }
.md .md .show {
  display: block; }
.md .md .row {
  zoom: 1;
  margin-left: -20px; }
  .md .md .row:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .md .md .row:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
.md .md p {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 9px; }
  .md .md p small {
    font-size: 11px;
    color: #bfbfbf; }
.md .md h1, .md .md h2, .md .md h3, .md .md h4, .md .md h5, .md .md h6 {
  font-weight: bold;
  color: #404040; }
.md .md h1 small, .md .md h2 small, .md .md h3 small, .md .md h4 small, .md .md h5 small, .md .md h6 small {
  color: #bfbfbf; }
.md .md h1 {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 36px; }
  .md .md h1 small {
    font-size: 18px; }
.md .md h2 {
  font-size: 24px;
  line-height: 36px; }
  .md .md h2 small {
    font-size: 14px; }
.md .md h3, .md .md h4, .md .md h5 {
  line-height: 36px; }
.md h6 {
  line-height: 36px; }
.md .md h3 {
  font-size: 18px; }
  .md .md h3 small {
    font-size: 14px; }
.md .md h4 {
  font-size: 16px; }
  .md .md h4 small {
    font-size: 12px; }
.md .md h5 {
  font-size: 14px; }
.md .md h6 {
  font-size: 13px;
  color: #bfbfbf;
  text-transform: uppercase; }
.md .md ul, .md .md ol {
  margin: 0 0 18px 25px; }
.md .md ul ul, .md .md ul ol {
  margin-bottom: 0; }
.md .md ol ol, .md .md ol ul {
  margin-bottom: 0; }
.md .md ul {
  list-style: disc; }
.md .md ol {
  list-style: decimal; }
.md .md li {
  line-height: 18px;
  color: black; }
.md .md ul.unstyled {
  list-style: none;
  margin-left: 0; }
.md .md dl {
  margin-bottom: 18px; }
  .md .md dl dt, .md .md dl dd {
    line-height: 18px; }
  .md .md dl dt {
    font-weight: bold; }
  .md .md dl dd {
    margin-left: 9px; }
.md .md hr {
  margin: 20px 0 19px;
  border: 0;
  border-bottom: 1px solid #eee; }
.md .md strong {
  font-style: inherit;
  font-weight: bold; }
.md .md em {
  font-style: italic;
  font-weight: inherit;
  line-height: inherit; }
.md .md .muted {
  color: #bfbfbf; }
.md .md blockquote {
  margin-bottom: 18px;
  border-left: 5px solid #eee;
  padding-left: 15px; }
  .md .md blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0; }
  .md .md blockquote small {
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #bfbfbf; }
    .md .md blockquote small:before {
      content: '\2014 \00A0'; }
.md .md address {
  display: block;
  line-height: 18px;
  margin-bottom: 18px; }
.md .md code, .md .md pre {
  padding: 0 3px 2px;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
.md .md code {
  padding: 1px 3px; }
.md .md pre {
  background-color: #f5f5f5;
  display: block;
  padding: 8.5px;
  margin: 0 0 18px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }
.md .md form {
  margin-bottom: 18px; }
.md .md fieldset {
  margin-bottom: 18px;
  padding-top: 18px; }
  .md .md fieldset legend {
    display: block;
    padding-left: 150px;
    font-size: 19.5px;
    line-height: 1;
    color: #404040;
    *padding: 0 0 5px 145px;
    *line-height: 1.5; }
.md .md form .clearfix {
  margin-bottom: 18px;
  zoom: 1; }
  .md .md form .clearfix:before {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .md .md form .clearfix:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    clear: both; }
.md .md label, .md .md input, .md .md select, .md .md textarea {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal; }
.md .md label {
  padding-top: 6px;
  font-size: 13px;
  line-height: 18px;
  float: left;
  width: 130px;
  text-align: right;
  color: #404040; }
.md .md form .input {
  margin-left: 150px; }
.md .md input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .md .md input[type=checkbox], .md .md input[type=radio] {
    cursor: pointer; }
.md .md textarea, .md .md select {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
.md .uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
.md .md input[type=checkbox], .md .md input[type=radio] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  border: none; }
.md .md input[type=file] {
  background-color: #ffffff;
  padding: initial;
  border: initial;
  line-height: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
.md .md input[type=button], .md .md input[type=reset], .md .md input[type=submit] {
  width: auto;
  height: auto; }
.md .md select, .md .md input[type=file] {
  height: 27px;
  line-height: 27px;
  *margin-top: 4px; }
.md .md select[multiple] {
  height: inherit; }
.md .md textarea {
  height: auto; }
.md .md .uneditable-input {
  background-color: #ffffff;
  display: block;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed; }
.md .md :-moz-placeholder, .md .md ::-webkit-input-placeholder {
  color: #bfbfbf; }
.md .md input, .md .md textarea {
  -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s,box-shadow linear 0.2s;
  -o-transition: border linear 0.2s,box-shadow linear 0.2s;
  transition: border linear 0.2s,box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }
.md .md input:focus, .md .md textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); }
.md .md input[type=file]:focus, .md .md input[type=checkbox]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666; }
.md .md select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666; }
.md .md form div.clearfix.error {
  background: #fae5e3;
  padding: 10px 0;
  margin: -10px 0 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .md .md form div.clearfix.error > label {
    color: #9d261d; }
  .md .md form div.clearfix.error span.help-inline, .md .md form div.clearfix.error span.help-block {
    color: #9d261d; }
  .md .md form div.clearfix.error input, .md .md form div.clearfix.error textarea {
    border-color: #c87872;
    -webkit-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
    -moz-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
    box-shadow: 0 0 3px rgba(171, 41, 32, 0.25); }
  .md .md form div.clearfix.error input:focus, .md .md form div.clearfix.error textarea:focus {
    border-color: #b9554d;
    -webkit-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
    -moz-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
    box-shadow: 0 0 6px rgba(171, 41, 32, 0.5); }
  .md .md form div.clearfix.error .input-prepend span.add-on, .md .md form div.clearfix.error .input-append span.add-on {
    background: #f4c8c5;
    border-color: #c87872;
    color: #b9554d; }
.md .md table {
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  border-collapse: separate;
  *border-collapse: collapse;
  font-size: 13px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .md .md table th, .md .md table td {
    padding: 10px 10px 9px;
    line-height: 18px;
    text-align: left; }
  .md .md table th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle;
    border-bottom: 1px solid #ddd; }
  .md .md table td {
    vertical-align: top; }
  .md .md table th th, .md .md table td td {
    border-left: 1px solid #ddd; }
  .md .md table tr td {
    border-top: 1px solid #ddd; }
  .md .md table tbody tr:first-child td:first-child {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0; }
  .md .md table tbody tr:first-child td:last-child {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0; }
  .md .md table tbody tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px; }
  .md .md table tbody tr:last-child td:last-child {
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0; }
.md .md .zebra-striped tbody tr:nth-child(odd) td {
  background-color: #f9f9f9; }
.md .md .zebra-striped tbody tr:hover td {
  background-color: #f5f5f5; }
.md .md .zebra-striped .header {
  cursor: pointer; }
  .md .md .zebra-striped .header:after {
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #000 transparent;
    visibility: hidden; }
  .md .md .zebra-striped .header:hover:after {
    visibility: visible; }
.md .md footer {
  margin-top: 17px;
  padding-top: 17px;
  border-top: 1px solid #eee; }
.md .md .page-header {
  margin-bottom: 17px;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
  .md .md .page-header h1 {
    margin-bottom: 8px; }
.md .md .close {
  float: right;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 13.5px;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=20);
  -khtml-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2; }
  .md .md .close:hover {
    color: #000000;
    text-decoration: none;
    filter: alpha(opacity=40);
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4; }
.md .md pre {
  padding: 0;
  margin: 10px 0px 10px;
  overflow: auto;
  /*--If the Code exceeds the width, a scrolling is available--*/
  overflow-Y: hidden;
  /*--Hides vertical scroll created by IE--*/ }
  .md .md pre code {
    margin: 5px;
    /*--Left Margin--*/
    padding: 0px;
    display: block;
    line-height: 18px; }
