template(name='arhive')
  .container-fluid
    .row-fluid
      .span12
      {{> navbar}}
    .row-fluid
      .span6
        {{{content}}}
      .span6
        .control-group
          input#filter.input-xlarge.span2.search-query(type="text",value='{{filter}}')
        ul.unstyled {{#each list}}
          li.control-group
            a.view(href='#') &nbsp; {{name}}
            button.btn.pull-right.restore
              i.icon-refresh
          {{else}}
          li Пусто
          {{/each}}
        {{> pagination}}
    {{> footer}}

