template(name="footer")
  footer.row-fluid
    hr.featurette-divider
    p.pull-right
      a(href="#") Вверх
    p © 2013 @42DO.ru
      | &nbsp; |&nbsp;
      a(href="/terms") Terms
      | &nbsp; |&nbsp;
      a(href="/information") Information
